{% extends "main.j2" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="margined">
    <div class="row">
        <div class="text">
	    <h2>About the Firm</h2>
            <br>
         <p>Hays & Skerry is proud to carry forward a long and distinguished
         tradition of providing outstanding legal counsel to individuals,
         business, institutions and non-profit clients. Before welcoming
         Jeff Skerry into the firm, William Hays practiced with distinction
         for many years as successor to the practice of the Honorable Bert
         E. Holland (1866-1958), Whitfield Johnson (1897-1995), and the
             Honorable William E. Hays (1903-1999).</p>
         <p>The philosophy of our practice is a simple one. We want to
         understand the law first, our clients' personal needs next, and then
         integrate the two into intelligent and practical legal solutions. The
         advice and counsel we offer is built on an understanding not only of
         the law, but of the many highly idiosyncratic factors that influence
             the direction of legal advice and counsel. </p>
         <p>At Hays and Skerry, we offer clients both the sophisticated
         solutions of a large firm together with the commitment to personal
             service often reserved for smaller firms.</p>
         </div>
         <img class="sideimg" src="{{ media_url('img/haysandskerry_long.jpg')  }}">
    </div>
</div>


{% endblock %}
