{% extends "main.j2" %}

{% block content %}

<div class="margined">
	<h2>Meet the team</h2>
	<img src="{{ media_url('img/handshake.jpg') }}" class="inlinebiggest">
	<p>
	Attorneys William C. Hays and Jeffrey J. Skerry have a long and distinguished tradition of providing outstanding legal counsel and have more than 75 years of combined experience between them. Our lawyers will be deeply involved in your project from day one, taking the time to understand your situation, identify your options and execute your plan with efficiency and care. Our goal is to help you resolve your legal matter and reach your goals. Both William C Hays and Jeffrey J. Skerry are rated AV-Preeminent by Martindale-Hubbell for excellent legal service and ethical standards.
	</p>
	<div class="row entry">
		<div class="col-md-3 imgblock">
		<h3>Jeff J. Skerry</h3>
		<img class="headshot" src="{{ media_url('img/jeffskerry.jpg') }}">
		</div>
		<div class="col-md-9">
		<p class="descrip"> Jeff has been an attorney for 25 years. Prior to practicing law, he honed his skills as a certified public accountant (CPA) in New York City. Jeff has an MBA in finance and has been recognized in Boston Magazine as a Five Star Wealth Manager. <a href="JeffreySkerry.html">Learn More.</a></p>

			<ul class="descrip">Education:
				 <li> J.D. from Boston University Law School</li>
				 <li> M.B.A. from New York University</li>
				 <li> B.A from Williams College</li>
			</ul>
			Phone: 617-423-5599.  Fax: 617-423-4058.  <a href="http://www.hays-skerry.com/E-mail.shtml?guid=SmDQ7+6yMEQfMp5YOw3IgfZdDosg945m+c2qWx6wUPwwvSiDTBjBHEg19DVBh0Atq4ZjZ14UtIBlSml8dihHTiGjpo4VQjPxYWMA+g/YHQMiwIWzjHo7x9bNuZM8O9bb4f3U9yOSM5msNNT+X5MxrAAlSAo/4XxuKomr9L9j+HY=&attorneyName=Jeffrey%20J.%20Skerry">Send Email.</a>

		</div>
	</div>
	<div class="row entry">
		<div class="col-md-3 imgblock">
		<h3>William C. Hays</h3>
		<img class="headshot" src="{{ media_url('img/williamhays.jpg') }}">
		</div>
		<div class="col-md-9">
		<p class="descrip">Bill has more than 50 years of legal experience. He lectures extensively in Eastern Massachusetts on topics related to estate planning and affordable housing. He acts as trustee on many of his clients' family trusts and serves on boards for a multitude of charitable and civic organizations.<a href='WilliamHays.html'> Learn More.</a></p>

			<ul class="descrip">Education:
				 <li> LL.B from Harvard University Law School</li>
				 <li> A.B from Bowdoin College</li>
				 <br>
			</ul>
			Phone: 617-651-5086.  Fax: 617-423-4058.  <a href="http://www.hays-skerry.com/E-mail.shtml?guid=SmDQ7+6yMEQfMp5YOw3IgfZdDosg945m+c2qWx6wUPwwvSiDTBjBHEg19DVBh0Atq4ZjZ14UtIBlSml8dihHTiGjpo4VQjPxYWMA+g/YHQMiwIWzjHo7x9bNuZM8O9bb4f3U9yOSM5msNNT+X5MxrAAlSAo/4XxuKomr9L9j+HY=&attorneyName=William%20C.%20Hays">Send Email.</a>
		</div>
	</div>
</div>

{% endblock %}
