{% extends "main.j2" %}

{% block title %}
Attorneys
{% endblock %}

{% block content %}

     <div class="margined">
	<h2>Meet the team</h2>
	<p>
	Attorneys William C. Hays and Jeffrey J. Skerry have a long tradition of providing outstanding legal counsel and between them have more than 75 years of combined experience. By working with Hays and Skerry, you are choosing lawyers who will be deeply involved in your project from day one, taking the time to understand your situation, identify your options, and execute your plan with efficiency and care. Both William C. Hays and Jeffrey J. Skerry are rated AV-Preeminent by Martindale-Hubbell for excellent legal service and ethical standards.
	</p>
	<div class="entry">
		<div class="narrowblock">
		<h3>Jeffrey J. Skerry</h3>
		<img class="headshot" src="{{ media_url('img/jeffskerry.jpg') }}">
		</div>
		<div class="wideblock">
		  <p class="descrip"> Jeff has been a practicing attorney for
		  over 25 years. Prior to practicing law, he
		  honed his skills as a certified public accountant (CPA) in
		  New York City. Jeff also has an MBA in finance. He has been
		  recognized in Boston Magazine as a <a href="{{ media_url('img/WealthManager.pdf')
		  }}">Five Star Wealth Manager</a>
		  and in the Boston Globe as a <a href="{{ media_url('img/LegalLeaders.jpg')
		  }}"> New England Top Rated Lawyer</a>.</p>
                  <div class="row">
                    <div class="blurb">
		      <ul class="descrip">Education:
		        <li> J.D. from Boston University Law School</li>
		        <li> M.B.A. from New York University</li>
		        <li> B.A. from Williams College</li>
		      </ul>
		      Phone: {% if resource.meta.phone-%}{{ resource.meta.phone}}{%-endif %}.  Fax: 617-423-4058.  <a href="mailto:jeffskerry@hays-skerry.com?Subject=Request%20for%20Hays%20and%20Skerry">Send Email.</a>
                    </div>
                    <div class="learnmore">
                       <a class="lmbtn" href="JeffreySkerry.html">View Jeff's Profile</a>
                    </div>
                  </div>
		</div>
	</div>
	<div class="entry">
		<div class="narrowblock">
		<h3>William C. Hays</h3>
		<img class="headshot" src="{{ media_url('img/williamhays.jpg') }}">
		</div>
		<div class="wideblock">
		  <p class="descrip">Bill has more than 50 years of legal experience. He lectures extensively in Eastern Massachusetts on topics related to estate planning and affordable housing. He acts as trustee on many of his clients' family trusts and serves on boards for a multitude of charitable and civic organizations.</p>
                  <div class="row">
                    <div class="blurb">
		      <ul class="descrip">Education:
		        <li> LL.B. from Harvard University Law School</li>
		        <li> A.B. from Bowdoin College</li>
		        <br>
		      </ul>
		      Phone: {% if resource.meta.phone-%}{{ resource.meta.phone}}{%-endif %}.  Fax: 617-423-4058.
                    </div>
                    <div class="learnmore">
                      <a class="lmbtn" href='WilliamHays.html'>View Bill's Profile</a>
                    </div>
                  </div>
	        </div>
	</div>
     </div>

{% endblock %}
