{% extends "practice_area.j2" %}


{% block title %} Business & Commercial Law {% endblock %}
{% block imgtitle %} "{{ media_url('img/business.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Work with trusted experts in business & commercial Law </h3>
		<p>Hays &amp; Skerry provides quality legal representation to privately owned and family businesses, to nonprofits, and to other corporate and business entities. We have extensive experience representing clients in complex transactional matters and provide comprehensive legal services to meet the needs of a modern business. At Hays &amp; Skerry, you will have the opportunity to work with attorneys that have both formal education and first-hand experience in business and finance. Thus, Hays and Skerry is in a position to provide expert counsel on a range of general business matters, including the formation of business entities, structuring and implementing business relationships, and real estate and commercial loan transactions.</p>

		<h3>Comprehensive business legal services</h3>
		<ul>
			<li>Choice of entity analysis</li>
			<li>Business formation and maintenance</li>
			<li>Equity structures</li>
			<li>Bank financing</li>
			<li>Business lending and financing</li>
			<li>Contract review and negotiation</li>
			<li>Joint ventures</li>
			<li>Partnership taxation</li>
			<li>Employment agreements</li>
			<li>Buy/sell agreements</li>
			<li>Succession planning</li>
			<li>Business acquisition and sales</li>
			<li>Mergers and transfers</li>
			<li>Tax planning</li>
			<li>Lease reviews</li>
		</ul>

		<p>We appreciate the level of financial equity and personal dedication that business owners put into these types of transactions. We want our clients to be as involved as they wish to be in all phases of the process. Our attorneys will take the time to fully explain the process and identify your options so you can make well-informed decisions with regard to the legal needs of your business.</p>

{% endblock %}
