{% extends "landing.j2" %}


{% block title %}
Confirmation
{% endblock %}

{% block outer %}
    <!-- Page Content -->
    <div class="landingpage">
    	<div class="title">
            <div class="equiblock">
                <h1>Hays & Skerry</h1>
                <p>Counsellors at Law</p>
            </div>
        </div>
        <div class="landingcontent">
            <h1>Thank you for contacting Hays & Skerry</h1>
		    <div class="promise">
				<div class="tag">
					<h3> Your inquiry has been submitted. </h3>
					<p class="caption"> One of our expert attorneys will be in touch with you shortly. In the meantime, do not hesitate to <a href="Contact.html">call or email</a> with any additional questions or concerns.</p>
				</div>
			</div>
		    <div class="promise">
				<div class="tag">
					<h3> We look forward to working together. </h3>
				</div>
			</div>
    	</div>
</div>
{% endblock %}
