{% extends "main.j2" %}

{% block content %}

<div class="margined attorney">
<div class="row">
	<div class="wideblock">
	{% include "contact_form.j2" %}
	</div>
	<div class="narrowblock">
		<div id="contactsidebar">
			<legend>Boston Location</legend>
			<p class="contactinfo"><b>Phone:</b> 617-651-5086</p>
			<p class="contactinfo"><b>Fax:</b> 617-423-4058</p>
			<p class="contactinfo"><b><a href="/Locations.html">Visit our office</a></b></p>

			<legend>Lexington Location</legend>
			<p class="contactinfo"><b><a href="/Locations.html">Visit our office</a></b></p>
		</div>
			<img class="fill" src="{{ media_url('img/haysandskerry.jpg') }}"> 
	</div>
</div>
</div>

{% endblock %}