{% extends "main.j2" %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<div class="margined attorney">
<div class="row">
	<div class="wideblock">
	{% include "contact_form.j2" %}
	</div>
	<div class="narrowblock">
		<div id="contactsidebar">
			<legend>Boston Location</legend>
			<p class="contactinfo"><b>Phone:</b> {% if resource.meta.phone-%}{{ resource.meta.phone}}{%-endif %}</p>
			<p class="contactinfo"><b>Fax:</b> 617-423-4058</p>
			<p class="contactinfo"><b><a href="Locations.html">Visit our office</a></b></p>
			<p class="contactinfo"><b><a href="mailto:jeffskerry@hays-skerry.com?Subject=Request%20for%20Hays%20and%20Skerry"> Email Jeff </a>---<a href="mailto:williamhays@hays-skerry.com?Subject=Request%20for%20Hays%20and%20Skerry"> Email William </a></b></p>

			<legend>Lexington Location</legend>
			<p class="contactinfo"><b><a href="Locations.html">Visit our office</a></b></p>
		</div>
			<img class="fill" src="{{ media_url('img/haysandskerry.jpg') }}"> 
	</div>
</div>
</div>

{% endblock %}
