{% extends "practice_area.j2" %}

{% block title %} Estate Planning {% endblock %}
{% block imgtitle %} "{{ media_url('img/estateplanning.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Put your future in good hands</h3>
		<p>An effective estate plan ensures that your hard-earned assets and investments remain available and secure when you or your family need them most. Hays &amp; Skerry has extensive experience meeting the planning needs of our individual, family and closely-held business clients. With 75 years of combined experience and a wealth of legal knowledge, attorneys William C. Hays and Jeffrey J. Skerry provide the comprehensive, personalized planning services to protect your estate long term. Let us help you create an effective estate plan to ensure the safety and security of your family or business for years to come.</p>



		<h3>Wealth transfer and estate planning services</h3>
		<ul>
			<li>Wills and Trusts</li>
                        <li>Estate, gift and income tax strategies </li>
			<li>Business succession planning </li>
			<li>Family Limited Liability Companies or Partnerships </li>
			<li>Charitable giving </li>
			<li>Gift planning </li>
			<li>Substitute decision-making </li>
			<li>Planning for retirement assets </li>
			<li>Disabilities and special-needs planning </li>
		</ul>

		<p>At Hays &amp; Skerry, we are dedicated to helping clients
		find effective, lasting solutions for their assets and their
		loved ones.</p>

{% endblock %}
