{% extends "practice_area.j2" %}


{% block title %} Estate Planning {% endblock %}
{% block imgtitle %} "{{ media_url('img/estateplanning.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Put your future in good hands</h3>
		<p>Hays &amp; Skerry has extensive experience meeting the planning needs of our individual, family and closely-held business clients.</p>

		<h3>Wealth transfer and estate planning services</h3>
		<ul>
			<li>Wills </li>
			<li>Trusts; including Lifetime Revocable Trusts, Grantor-Retained Interest Trusts (GRATs and GRUTs), Life Insurance Trusts and Trusts for the home or other real property </li>
			<li>Family Limited Liability Companies or Partnerships </li>
			<li>Estate, gift and income tax strategies </li>
			<li>Gift planning </li>
			<li>Business succession planning </li>
			<li>Charitable giving </li>
			<li>Substitute decision-making </li>
			<li>Planning for retirement assets </li>
			<li>Disabilities and special-needs planning </li>
		</ul>

		<p>At Hays &amp; Skerry, we are dedicated to helping clients find effective, lasting solutions for their estate, their health and their family.</p>

{% endblock %}
