{% extends "landing.j2" %}

{% block outer %}
    <!-- Page Content -->
    <div class="landingpage">
        <div class="title">
            <div class="equiblock">
                <h1>Hays & Skerry</h1>
                <p>Counsellors at Law</p>
            </div>
        </div>
        <div class="landingcontent">
            <h1>Helping you achieve your success is our success</h1>

		    <div class="promise">
				<div class="equiblock tag">
					<h3> Expertise </h3>
					<p class="caption"> Experienced, trusted advisors in <a>business law</a>, <a>real estate</a>, <a>taxation</a>, <a>estate planning</a>, <a>probate</a> and <a>trust administration</a></p>
				</div>
				<div class="equiblock tag">
					<h3> Service and Commitment </h3>
					<p class="caption"> Combining the comprehensive, sophisticated solutions of a large law firm with a small firm’s commitment to care and personal service</p>
				</div>
			</div>
			<div class="promise">
				<div class="equiblock tag">
					<h3> Quality and Value </h3>
					<p class="caption"> Offering high quality, efficient legal representation to individuals, families, businesses, institutions and nonprofits</p>
				</div>
				<div class="equiblock tag">
					<h3> Convenience </h3>
					<p class="caption"> Conveniently located to serve clients throughout the greater Boston area, Eastern Massachusetts and Cape Cod</p>
				</div>
			</div>

            <p class="important">
            Attorneys <a>William C. Hays</a> and <a>Jeffrey J. Skerry</a> have a long and distinguished tradition of providing outstanding legal counsel and have more than 75 years of combined experience between them. Our lawyers will be deeply involved in your project from day one, taking the time to understand your situation, identify your options and execute your plan with efficiency and care. Our goal is to help you resolve your legal matter and reach your goals.
            </p>
            <div class="important"><span><a>Serving the Greater Boston Area</a></span><span><a>Offices in Boston and Lexington</a></span><span><a>617-651-5086</a></span></div>
            {% include "consult.j2" %}

    </div>
</div>
{% endblock %}
