{% extends "main.j2" %}

{% block title %}
Jeffrey Skerry
{% endblock %}

{% block content %}

<div class="margined attorney">
	<h2>Jeffrey J. Skerry</h2>
	<img class="inline" src="{{ media_url('img/jeff_skerry.jpg') }}"> 

	<p>Having previously worked at such venerable firms as
	Deloitte, Hale and Dorr (now WilmerHale), and Sun Life, Jeff’s legal
	services blend the sophisticated solutions of a large firm with the
	convenience, flexibility, and personal care of a small boutique. Jeff
	values his client relationships, and has the technical expertise to
	meet their diverse legal challenges in a timely and cost efficient
	    manner.</p>
        <p>Jeff counsels private businesses and entrepreneurs across a wide range of business situations, including initial organizational matters, capital structure, founder’s issues, employment matters, borrowing relationships, acquisitions, contract negotiations, succession, and tax issues. He has also represented real estate developers, institutional lenders and owners/occupants in a wide array of real property matters, including entity formation, due diligence, acquisition, financing, leasing and disposition. In addition, Jeff offers sophisticated estate planning and fiduciary services, including tax preparation, to individuals, businesses, charitable entities and institutions. Without having to bring in other specialists, Jeff can personally address your business, tax, real estate and estate planning concerns.</p>

	<p>Jeff earned his B.A. from Williams College and received his MBA from
	New York University. Prior to attending law school, he was a Certified
	Public Accountant with Deloitte in New York City. Jeff earned his law
	degree from the Boston University School of Law.</p>

	<p>He has been recognized on numerous occasions as a "Five Star"
	wealth adviser and has been recognized by Legal Leaders as a
        New England Top Rated Lawyer and a Boston Top Rated Lawyer. Jeff
        often appears as a speaker at legal education seminars in the greater Boston area.</p>

	<div class="row">
		<div class="equiblock">
			<ul class="descrip"><b>Contact:</b>
				 <li> Location: Boston and Lexington Offices</li>
				 <li> Phone:{% if resource.meta.phone-%}{{ resource.meta.phone}}{%-endif %}</li>
				 <li> Fax: 617-423-4058</li>
				 <li> <a href="mailto:jeffskerry@hays-skerry.com?Subject=Request%20for%20Hays%20and%20Skerry">Send Email</a></li>
			</ul>
			<ul class="descrip"><b>Education:</b>
				 <li> J.D. from Boston University School of Law</li>
				 <li> M.B.A. from New York University</li>
				 <li> B.A from Williams College</li>
			</ul>
			<ul class="descrip"><b>Practice Areas:</b>
				 <li> Business</li>
				 <li> Real Estate</li>
				 <li> Trust and Estate Administration</li>
				 <li> Estate Planning</li>
				 <li> Tax</li>
			</ul>
			<ul class="descrip"><b>Bar Admissions:</b>
				 <li> Massachusetts</li>
			</ul>
			<ul class="descrip"><b>Previous Employment:</b>
				 <li> Sun Life Financial, Senior Assoc Counsel</li>
				 <li> WilmerHale, Associate</li>
			</ul>
		</div>
		<div class="equiblock">
			<ul class="descrip"><b>Honors and Awards:</b>
				 <li> AV Rating-Martindale Hubbell</li>
				 <li> <a href="{{
				 media_url('img/WealthManager.pdf') }}">Five
				         Star Wealth Advisor</li></a>
                                 <li> Boston Top Rated Lawyer </li>
				 <li> <a href="{{ media_url('img/LegalLeaders.jpg') }}">New England Top Rated Lawyer</a></li>
			</ul>
			<ul class="descrip"><b>Associations and Memberships:</b>
				<li> Boston Bar Association</li>
				<li> Massachusetts Bar Association</li>
				<li> Real Estate Finance Association</li>
				<li> B.U. Law Review: Banking Journal</li>
			</ul>
			<ul class="descrip"><b>Speaking:</b>
				 <li>Keys to Mastering Trust Administration, 2003</li>
				 <li>Probate Process for Massachusetts Paralegals, 2003</li>
				 <li>Probate Process for Massachusetts Paralegals, 2004</li>
				 <li>Estate Administration Procedures, 2007</li>
				 <li>Probate: Beyond the Basics, 2008</li>
			         <li>Trusts 101, 2013</li>
                                 <li>Accountants Guide to Grantor Trusts, 2014</li>
                                 <li>Probate Process, 2015</li>
                                 <li>Trusts Drafting, 2015</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
