{% extends "main.j2" %}

{% block title %}
Locations
{% endblock %}

{% block content %}

<div class="margined attorney">
	<h2>Meet us at one of two convenient locations</h2>

	<div class="row">
		<div class="wideblock">
			<strong><a href="https://plus.google.com/111860662706829157814/about"><h3>Hays &amp; Skerry, Boston</h3></a></strong>
		 	<p>22 Batterymarch Street, Boston, MA 02109</p>
			<p>Telephone: 617-423-5599</p>

			<iframe
                             frameborder="0"
                             class="mapdiv"
                             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11793.114860594493!2d-71.06319833238867!3d42.35789907918706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37086947efcdf%3A0xdd1c5399c5598cf0!2s22+Batterymarch+St%2C+Boston%2C+MA+02109!5e0!3m2!1sen!2sus!4v1509813961481"
                        >
                        </iframe>
                        <br/>
                        <h4>ARRIVING BY FOOT</h4>
			<p>
                            Hays & Skerry Boston is easy walking distance from
                            anywhere in the Financial District, at the
                            intersection of Milk and Batterymarch
                            Streets. Please enter via the front door of the
                            building and proceed up the stairs to the mezzanine.
                        </p>
                        <br/>
                        <h4>ARRIVING BY PUBLIC TRANSPORTATION</h4>
                        <p>
                            <strong>Red line: </strong> Exit the Red Line at
                            Downtown Crossing. Head up Washington Street until
                            you reach Water Street.
                            Once at Liberty Square, Batterymarch Street will be
                            to your right and
                            22 Batterymarch will be on your left.
                        </p>
                        <p>
                            <strong>Orange and Blue lines: </strong> Exit at
                            the State Street stop. Proceed through Devonshire
                            PL and take a right onto Devonshire Street.
                            Take a left onto Water Street and go three blocks,
                            into Liberty Square,
                            Batterymarch street is on your right and the building will be on your left.
                        </p>
                        <p>
                            <strong>Green line: </strong> Exit at Government
                            Center and proceed east on Court Street.
                            Proceed 5 blocks until you reach Kilby Street.
                            Follow Kilby Street for two blocks until you reach
                            Liberty Square.
                            Bear left onto Batterymarch Street.  22 Batterymarch is on your left.  
                        </p>
                        <br/>
                        <h4>ARRIVING BY CAR</h4>
                        <p>
                            <strong>From the south: </strong>
                            <ul>
                                <li>Follow MA-3 N and I-93 N to exit 23 (North St) in Boston.</li>
                                <li>Take exit 23 from I-93 N and continue on North St. Take Congress St. to Batterymarch St.</li>
                            </ul>
                        </p>
                        <p>
                            <strong>From the west: </strong>
                            <ul>
                                <li>Follow I-90 E to Boston. Take the exit on the left toward South Station.</li>
                                <li>Merge onto Atlantic Ave.</li>
                                <li>Turn left onto Pearl St.</li>
                                <li>Turn right onto Water St.</li>
                                <li>Take the 2nd right onto Batterymarch St.</li>
                            </ul>
                        </p>
                        <p>
                            <strong>From the north: </strong>
                             <ul>
                                <li>Continue on US-1 S to Boston. Take exit 23 I-93 S</li>
                                <li>Take Oliver St. to Batterymarch St.</li>
                            </ul>
                        </p>
		</div>
        </div>
        <div class="row">
		<div class="wideblock">
			<strong><a href="#"><h3>Hays &amp; Skerry, Lexington</h3></a></strong>
		 	9 Meriam Street, Suite #5A, Lexington, MA 02420
		</div>
	</div>
        <div class="row">
            <br/>
            <div class="wideblock">
                <strong><a href="#"><h3>Mailing address</h3></a></strong>
                PO Box 96 1920, 31 Milk Street, Boston,  MA  02196
            </div>
        </div>
</div>

{% endblock %}
