{% extends "main.j2" %}

{% block content %}

<div class="margined attorney">
	<h2>Meet us at one of two convenient locations</h2>

	<div class="row">
		<div class="equiblock">
			<p><span> <strong><a href="https://plus.google.com/111860662706829157814/about"><h3>Hays &amp; Skerry, Boston</h3></a></strong></span></p>
		 	<p>31 Milk Street, Suite 202</p>
		 	<p>Boston, MA 02109</p>
			<p>Telephone: 617-423-5599</p>

			<p><iframe frameborder="0" class="mapdiv" src="https://maps.google.com/maps?ie=UTF8&amp;cid=16219804335838665954&amp;q=Hays+%26+Skerry&amp;gl=US&amp;hl=en&amp;hq=&amp;hnear=&amp;ll=42.356464,-71.057997&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"> </iframe>
			 
		</div>

		<div class="equiblock">
			<p><span> <strong><a href="#"><h3>Hays &amp; Skerry, Lexington</h3></a></strong></span></p>
		 	<p>9 Meriam Street</p>
		 	<p>Suite #5A</p>
		 	<p>Lexington, MA 02420 </p>

			<iframe frameborder="0" class="mapdiv" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2944.008263252792!2d-71.22842945158482!3d42.44884028836242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e39dd00cea6a43%3A0xe87a02bfd05b6937!2s9+Meriam+St%2C+Lexington%2C+MA+02420!5e0!3m2!1sen!2sus!4v1433956544510"></iframe>
		</div>
	</div>
</div>

{% endblock %}