{% extends "main.j2" %}

{% block title %}
Locations
{% endblock %}

{% block content %}

<div class="margined attorney">
	<h2>Meet us at one of two convenient locations</h2>

	<div class="row">
		<div class="equiblock">
			<p><span> <strong><a href="https://plus.google.com/111860662706829157814/about"><h3>Hays &amp; Skerry, Boston</h3></a></strong></span></p>
		 	<p>22 Batterymarch Street</p>
		 	<p>Boston, MA 02109</p>
			<p>Telephone: 617-423-5599</p>

			<iframe
                             frameborder="0"
                             class="mapdiv"
                             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11793.114860594493!2d-71.06319833238867!3d42.35789907918706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37086947efcdf%3A0xdd1c5399c5598cf0!2s22+Batterymarch+St%2C+Boston%2C+MA+02109!5e0!3m2!1sen!2sus!4v1509813961481"
                        >
                        </iframe>
			 
		</div>

		<div class="equiblock">
			<p><span> <strong><a href="#"><h3>Hays &amp; Skerry, Lexington</h3></a></strong></span></p>
		 	<p>9 Meriam Street</p>
		 	<p>Suite #5A</p>
		 	<p>Lexington, MA 02420 </p>

			<iframe
                             frameborder="0"
                             class="mapdiv"
                             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2944.008263252792!2d-71.22842945158482!3d42.44884028836242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e39dd00cea6a43%3A0xe87a02bfd05b6937!2s9+Meriam+St%2C+Lexington%2C+MA+02420!5e0!3m2!1sen!2sus!4v1433956544510"
                        >
                        </iframe>
		</div>
	</div>
        <div class="row">
            <br/>
            <div class="wideblock">
                <strong>Mailing address:</strong> PO Box 96 1920, 31 Milk Street, Boston,  MA  02196
            </div>
        </div>
</div>

{% endblock %}
