{% extends "practice_area.j2" %}

{% block title %} Probate {% endblock %}
{% block imgtitle %} "{{ media_url('img/probate.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Expert counsel to fiduciaries/personal representatives</h3>
		<p>Hays & Skerry acts as legal counsel to Executors/Personal Representatives and
		Administrators of probate estates. Whether your estate case is
		simple or complex, you need trusted and experienced legal
		representation to navigate the estate administration
		process. At Hays & Skerry, we provide the knowledge,
		experience, and direction you need.</p>

		<ul>
			<li>Fiduciary appointment by probate court </li>
			<li>Asset collection and preservation </li>
			<li>Fiduciary income tax return preparation </li>
			<li>Estate tax return preparation </li>
			<li>Disclaimers and other postmortem planning techniques </li>
			<li>Addressing debts of deceased </li>
			<li>Responding to claims against estate </li>
			<li>Sale or other disposition of Real Estate </li>
			<li>Preparation of probate account </li>
		</ul>


{% endblock %}
