{% extends "practice_area.j2" %}


{% block title %} Probate {% endblock %}
{% block imgtitle %} "{{ media_url('img/probate.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Expert counsel to fiduciaries</h3>
		<p>Hays & Skerry acts as legal counsel to Executors and Administrators of probate estates.</p>

		<ul>
			<li>Fiduciary appointment by probate court </li>
			<li>Asset collection and preservation </li>
			<li>Fiduciary income tax return preparation </li>
			<li>Estate tax return preparation </li>
			<li>Disclaimers and other postmortem planning techniques </li>
			<li>Addressing debts of deceased </li>
			<li>Responding to claims against estate </li>
			<li>Sale of Real Estate </li>
			<li>Preparation of probate account </li>
		</ul>


{% endblock %}