{% extends "practice_area.j2" %}


{% block title %} Real Estate Law {% endblock %}
{% block imgtitle %} "{{ media_url('img/realestate.png') }}" {% endblock %}
{% block areacontent %}

		<h3>Experienced legal advisors for your real estate needs</h3>
		<p>Representing buyers and sellers, Hays & Skerry offers representation for a broad range of sophisticated and complex transactional real estate matters, from acquisitions and sales for developers, to corporate owned real estate, commercial mortgage work for institutional lenders, and insurance companies.</p>

		<h3>Comprehensive Real Estate Guidance and Representation</h3>
		<p>At Hays &amp; Skerry has a comprehensive real estate practice and attorneys with experience in all aspects of real estate management, transfer and finance, including</p>
		<ul>
			<li>Entity selection</li>
			<li>Site <a href="/Practice-Areas/Real-Estate-Acquisition-Development.shtml">acquisition</a></li>
			<li>Site <a href="/Practice-Areas/Real-Estate-Acquisition-Development.shtml">development</a></li>
			<li>Financing (mortgages)</li><li>Leasing</li><li>Sales</li><li>Taxation</li>
			<li>Credit enhancements</li><li>Fractional interest gifting</li>
			<li>Trusts for residential real property</li>
			<li>Partition</li>
			<li>Probate transfers</li>
			<li>Landlord-tenant concerns</li>
			<li>Residential real estate work (primarily for our ongoing clients)</li>
		</ul>

		<p>We understand that a considerable amount of financial investment and hard work go into each of our client's real estate transactions. As experienced real estate lawyers, we also have extensive knowledge and experience with these types of transactions. This allows us to fully explain your options, address any of your questions and concerns, and to guide you through the process as seamlessly as possible.</p>

{% endblock %}
