{% extends "practice_area.j2" %}

{% block title %} Real Estate Law {% endblock %}
{% block imgtitle %} "{{ media_url('img/realestate.png') }}" {% endblock %}
{% block areacontent %}

		<h3>Experienced legal advisors for your real estate needs</h3>
		<p>Real estate transactions can be complex and multi-faceted. Hays
		& Skerry has a comprehensive real estate practice and attorneys
		with experience in all aspects of real estate management,
		transfer and finance, including:</p>

		<h3>Comprehensive real estate guidance and representation</h3>
		<ul>
			<li>Entity selection</li>
			<li>Site acquisition and development</li>
			<li>Financing (mortgages)</li><li>Leasing</li><li>Sales</li><li>Taxation</li>
			<li>Credit enhancements</li><li>Fractional interest gifting</li>
			<li>Trusts for residential real property</li>
			<li>Partition</li>
			<li>Probate transfers</li>
			<li>Landlord-tenant concerns</li>
			<li>Residential real estate work (primarily for our ongoing clients)</li>
		</ul>

		<p>At Hays and Skerry, we understand the degree of personal and financial investment that go into our clients' real estate transactions. As experienced real estate lawyers, we have deep knowledge and experience with these types of transactions. At every phase of the process, we aim to fully explain your options, address any questions and concerns, and make the process as seamless as possible.</p>

{% endblock %}
