{% extends "practice_area.j2" %}

{% block title %} Tax Law {% endblock %}
{% block imgtitle %} "{{ media_url('img/tax.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Expert guidance on your tax related legal needs</h3>
		<p>Tax issues cut across virtually every facet of the firms'
		practice. Our goal is to assist businesses, trusts, estates, and
		individuals to structure their affairs in a constructive manner
		and to structure their transactions with the least possible tax
		cost. Expert attorneys at Hays & Skerry will leverage their deep knowledge of legal issues surrounding taxation to help you navigate the tax considerations affecting so many of your personal and business transactions. </p>
		<h3>Effective tax solutions</h3>
		<ul>
			<li>Preparation of Estate tax returns for our probate clients </li>
			<li>Preparation of Fiduciary Income tax returns for our estate and trust clients </li>
			<li>Preparation of Gift tax returns </li><li>Creation, qualification and administration of 501(c)(3) Tax-Exempt entities </li>
			<li>Tax Planning advice regarding consequences of various business and financial transactions and strategies, including: 
				<ul id="sublist">
					<li>Acquisition of a business </li>
					<li>Sale of assets </li>
					<li>Sale of business (including buy/sell arrangements) </li>
					<li>Sale of securities </li>
					<li>Transfer of real property </li>
					<li>Gifting strategies </li>
					<li>Estate planning </li>
					<li>Investment-related taxation </li>
					<li>Real Estate investments </li>
				</ul>
			</li>
		</ul>

{% endblock %}
