{% extends "practice_area.j2" %}

{% block title %} Trust Administration {% endblock %}
{% block imgtitle %} "{{ media_url('img/trustadministration.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Trusted counsel for trustees and beneficiaries</h3>
		<p>With an effective trust arrangement, clients can not only
		secure and control the management and distribution of family
		assets, but also minimize tax costs, protect financial privacy,
		and spare beneficiaries the burden and expenses associated with probate. At
		Hays & Skerry, we provide comprehensive, expert legal counsel
		to both Trustees and Trust beneficiaries. Hays and Skerry
		attorneys have extensive experience in both drafting and managing complex trusts, and put great value on handling clients' affairs with care and discretion. Where appropriate, attorneys at Hays and Skerry will also serve as Trustee on trusts of our valued clients.</p>

		<ul>
			<li>Drafting Trust Instruments </li>
			<li>Lifetime Revocable Trusts</li>
			<li>Grantor-Retained Interest Trusts (GRATs and GRUTs)</li>
			<li>Life Insurance Trusts</li>
			<li>Trusts for the home or other real property </li>
			<li>Management of Trust Portfolios </li>
			<li>Fiduciary Income Tax Return Preparation </li>
			<li>Prepare and Distribute Periodic Reports to Trustees and Beneficiaries </li>
			<li>Making Periodic or Discretionary Distributions to Beneficiaries </li>
			<li>Advising Trustees Concerning Duties Under Trust Instrument and Under Trust Law </li>
			<li>Assisting with Trustee succession </li>
			<li>Assisting with Tax-exempt Trusts </li>
		</ul>

{% endblock %}
