{% extends "practice_area.j2" %}


{% block title %} Trust Administration{% endblock %}
{% block imgtitle %} "{{ media_url('img/trustadministration.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Trusted counsel for trustees and beneficieries</h3>
		<p>Hays & Skerry acts as counsel to Trustees and Trust beneficiaries and, where appropriate, will serve as Trustee.</p>

		<ul>
			<li>Drafting Trust Instruments </li>
			<li>Management of Trust Portfolios </li>
			<li>Fiduciary Income Tax Return Preparation </li>
			<li>Prepare and Distribute Periodic Reports to Trustees and Beneficiaries </li>
			<li>Making Periodic or Discretionary Distributions to Beneficiaries </li>
			<li>Advising Trustees Concerning Duties Under Trust Instrument and Under Trust Law </li>
			<li>Assisting with Trustee succession </li>
			<li>Assisting with Tax-exempt Trusts </li>
		</ul>

{% endblock %}