{% extends "main.j2" %}

{% block content %}

<div class="margined attorney">
	<h2>William C. Hays</h2>
	<img class="inline" src="{{ media_url('img/williamhays.jpg') }}"> 
	<p>Mr. William Hays has extensive experience in all aspects of estate planning, in the administration of trusts and in the settlement of estates. His practice also extends into the fields of real estate and general business law. Bill acts as trustee on many family trusts and also serves on the boards of numerous charitable and civic organizations.</p>

	<p>Mr. Hays has lectured extensively in eastern Massachusetts on estate planning and affordable housing. He is past chairman of the Regional Planning Subcommittee and the Land-Use Committee of the Boston Bar Association.</p>

	<p>Mr. Hays is a graduate of Bowdoin College and earned his law degree from Harvard Law School. The Martindale Hubbell National Law Directory has awarded Mr. Hays an AV Rating; the highest rating for legal ability and professional ethics.</p>

	<ul class="descrip">Contact:
		 <li> Location: Boston and Lexington Offices</li>
		 <li> Phone: 617-651-5086</li>
		 <li> Fax: 617-423-4058</li>
		 <li> <a href="http://www.hays-skerry.com/E-mail.shtml?guid=SmDQ7+6yMEQfMp5YOw3IgfZdDosg945m+c2qWx6wUPwwvSiDTBjBHEg19DVBh0Atq4ZjZ14UtIBlSml8dihHTiGjpo4VQjPxYWMA+g/YHQMiwIWzjHo7x9bNuZM8O9bb4f3U9yOSM5msNNT+X5MxrAAlSAo/4XxuKomr9L9j+HY=&attorneyName=William%20C.%20Hays">Send Email</a></li>
	</ul>
	<ul class="descrip">Education:
		 <li> LL.B from Harvard University Law School</li>
		 <li> A.B from Bowdoin College</li>
	</ul>
	<ul class="descrip">Practice Areas:
		 <li> Trusts and Estates: 40%</li>
		 <li> Real Estate: 20%</li>
		 <li> Business: 20%</li>
		 <li> Tax: 20%</li>
	</ul>
	<ul class="descrip">Bar Admissions:
		 <li> Massachusetts</li>
	</ul>
	<ul class="descrip">Honors and Awards:
		 <li> AV Rating-Martindale Hubbell</li>
	</ul>
	<ul class="descrip">Associations and Memberships:
		 <li> Phi Beta Kappa</li>
	</ul>

</div>

{% endblock %}