{% extends "main.j2" %}

{% block title %}
William Hays
{% endblock %}

{% block content %}

<div class="margined attorney">
	<h2>William C. Hays (Retired)</h2>
	<img class="inline" src="{{ media_url('img/williamhays.jpg') }}"> 
	<p>William Hays was a graduate of Bowdoin College and earned his law degree from Harvard Law School.</p>
	
	<div class="row">
		<div class="equiblock">
			<ul class="descrip"><b>Education:</b>
				 <li> LL.B from Harvard University Law School</li>
				 <li> A.B from Bowdoin College</li>
			</ul>
			<ul class="descrip"><b>Practice Areas:</b>
				 <li> Trusts and Estates: 40%</li>
				 <li> Real Estate: 20%</li>
				 <li> Business: 20%</li>
				 <li> Tax: 20%</li>
			</ul>
		</div>
		<div class="equiblock">
			<ul class="descrip"><b>Honors and Awards:</b>
				 <li> AV Rating-Martindale Hubbell</li>
			</ul>
			<ul class="descrip"><b>Bar Admissions:</b>
				 <li> Massachusetts</li>
			</ul>
			<ul class="descrip"><b>Associations and Memberships:</b>
				 <li> Phi Beta Kappa</li>
			</ul>
		</div>

</div>

{% endblock %}
