{% extends "base.j2" %}

{% block body %}

    <!-- Page Content -->
    <div class="page">
        <div id="headerblock">
            <div class="header">
                <div class="col-md-5"><a href="/Locations.html">Serving the Greater Boston Area</a></div><div class="col-md-4"><a href="/Locations.html">Offices in Boston and Lexington</a></div><div class="col-md-3"> <a href="/Contact.html">617-651-5086</a></div>
            </div>
            <img id="headerimage" src="{{ media_url('img/background_cropped.jpg') }}">
            <h1 class="header_title">Hays & Skerry</h1>
            {% include "main_nav.j2" %}
            {% block nav%}
            {% endblock %}
        </div>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
{% endblock %}
