{% extends "main.j2" %}

{% block content %}

<div class="margined centered">
	<div id="practicearea">
		<div class="col-md-6">
			<h1>{% block title %}{% endblock %}</h1>
		</div>
		<div class="areaimg"><img src={% block imgtitle %}{% endblock %}></div>
	</div>
	<div class="row" id="practiceareadescrip">
		{% block areacontent %}{% endblock %}
	</div>
</div>

{% endblock %}
