{% extends "practice_area.j2" %}


{% block title %} Business & Commercial Law {% endblock %}
{% block imgtitle %} "{{ media_url('img/business.png') }}" {% endblock %}
{% block areacontent %}
		<h3>Work with Trusted Experts in Business Commercial Law </h3>
		<p>Hays &amp; Skerry provides quality legal representation to privately owned businesses, family businesses, nonprofits and other corporate and business entities. The firm has extensive experience representing clients in complex transactional matters and provides comprehensive legal services across a range of business needs. In addition, the firm provides counsel on the formation of business entities; structuring and implementing business relationships, including tax issues; real estate and commercial loan transactions; and general business matters.</p>

		<p>With 75 years of combined experience, a wealth of legal knowledge and a well-established reputation, attorneys William C Hays and Jeffrey J. Skerry can provide your business with valuable advice, counsel and representation. Our goal is to resolve your business or commercial law matter efficiently and to your satisfaction.</p>

		<h3>Comprehensive Business Legal Services</h3>
		<p>At Hays &amp; Skerry, we are dedicated to offering our clients advice and counsel for a range of transactional business law matters, including:</p>
		<ul>
			<li>Choice of entity analysis</li>
			<li>Business formation and maintenance</li>
			<li>Equity structures</li>
			<li>Bank financing</li>
			<li>Business lending and financing</li>
			<li>Contract review and negotiation</li>
			<li>Joint ventures</li>
			<li>Partnership taxation</li>
			<li>Employment agreements</li>
			<li>Buy/sell agreements</li>
			<li>Succession planning</li>
			<li>Business acquisition and sales</li>
			<li>Mergers and transfers</li>
			<li>Tax planning</li>
			<li>Lease reviews</li>
		</ul>

		<p>We appreciate the level of financial equity and personal dedication business owners put into these types of transactions. We want our clients to be as involved as they wish to be in all phases of the process. Our attorneys will take the time to fully explain the process and identify your options so you can make well-informed decisions with regard to your legal matter. At every phase in the process, we will keep you abreast of developments, offer timely solutions, and provide prompts answers to any questions or concerns you may have.</p>
	</div>
</div>

{% endblock %}
